.card {
    color : white;
    margin : 15px;
    border: solid black 1px;
    width: 300px;
    padding: 15px;
    box-shadow: gray 3px 5px 5px 5px;
    border-radius: 25px;
    display : flex;
}


.leftSide {
    width: 30%;
}

.rightSide {
    width: 70%;
}

.text {
    font-family: Calibri;
    font-size: 24px;
    /*text-align: right;*/
}

.day {
    background: rgba(43, 161, 250, 0.6);
    transition: background 0.7s;
}

.night {
    background: rgba(0, 0, 78, 0.75);
    text: white;
    transition: background 0.7s;
}

body.night {
    background: rgb(45,45,45);
    transition: background 0.7s;
}

body.day {
    background: rgb(255,255,255);
    transition: background 0.7s;
}
